<div style="border: 2px solid rgb(131, 123, 123);margin-left: 400px;padding: 10px; width: 450px;background-color: rgb(230, 215, 215)">
    <div style="border-bottom: dotted; border-bottom-color: red"><h3>SignUp</h3></div><br>
    <label for="name">Name:</label>
    <br>
    <input type="text" size="60" style="padding: 2px">
    <br>
    <input type="text" value="please enter name" size="60" style="padding: 2px; background-color: lightpink">  
    <br><br>
    <label for="username">Username:</label>
    <br>
    <input type="text" size="60" style="padding: 2px">  
    <br>
    <input type="text" value="please enter username(*required for login)" size="60"style="padding: 2px;background-color: lightpink">  
    <br><br>
    <label for="email">E-Mail:</label>
    <br>
    <input type="text" size="60" style="padding: 2px">
    <br>
    <input type="text" value="please enter a correct mail" size="60"style="padding: 2px;background-color: lightpink">  
    <br><br>
    <label for="pass">Password:</label>
    <br>
    <input type="password" size="60" style="padding: 2px">
    <br>
    <input type="text" value="enter password(*required forlogin)" size="60"style="padding: 2px;background-color: lightpink">  
    <br><br>
    <label for="pass">Contact:</label>
    <br>
    <input type="text" size="60" style="padding: 2px">
    <br>
    <input type="text" value="enter contact number" size="60" style="padding: 2px;background-color: lightpink">  
    <div style="margin-left: 60%"> >
       <br><br> <input type="submit" value="Submit" class="mr-2" style="text-align: left;background-color: skyblue">
       <div style="margin-left: 70px"> Already Registerd? *<a href="">Login</a> Here</div>
       </div>  